{% extends "base.html" %}

{% block content %}
{% if device %}
    <h1>Данные устройства #{{ device.id }}</h1>
{% else %}
    <h1>Все записи данных</h1>
{% endif %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>ID устройства</th>
            <th>Время отправки</th>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
    </thead>
    <tbody>
        {% for record in data %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.id_device }}</td>
            <td>{{ record.time }}</td>
            <td>{{ record.x }}</td>
            <td>{{ record.y }}</td>
            <td>{{ record.z }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}